.venv/
.venv

__pycache__/
*.pyc
.ipynb_checkpoints/

*.DS_Store
.DS_Store

.env
logs/

*.csv

output/*.json
output/*.png
output/*.jpg
output/*.jpeg

!input/.gitkeep
!output/.gitkeep
!train_data/.gitkeep